<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gt.silviarossana.mascotasfavoritas">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListaMascotas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.MascotasFavoritas"
            android:parentActivityName=".ListaMascotas">

            <!-- Soporte para versiones anteriores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaMascotas" />
        </activity>
        <activity
            android:name=".menu.MDatosContacto"
            android:parentActivityName=".ListaMascotas">

            <!-- Soporte para versiones anteriores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaMascotas" />
        </activity>
        <activity
            android:name=".menu.MAcercaDe"
            android:parentActivityName=".ListaMascotas">

            <!-- Soporte para versiones anteriores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaMascotas" />
        </activity>
        <activity android:name=".menu.MConfigurarCuenta"
            android:parentActivityName=".ListaMascotas">

            <!-- Soporte para versiones anteriores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaMascotas" />
        </activity>
    </application>

</manifest>